/* menu.css */
body {
  width: 300px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.slider-container {
  display: flex;
  align-items: center;
}

/* Smaller slider */
.slider {
  position: relative;
  width: 40px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-color: #ccc;
  border-radius: 34px;
  margin-left: 10px; /* Add some space between the slider and text */
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  top: 2px;
  background-color: #05a9db; /* Change the color */
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #05a9db; /* Change the color */
}

input:checked + .slider:before {
  transform: translateX(20px); /* Adjust the distance the slider moves */
}

#status {
  margin-left: 10px; /* Add some space between the text and the slider */
}
